/*
 * @Author: Lac 
 * @Date: 2018-10-18 22:11:04 
 * @Last Modified by: Lac
 * @Last Modified time: 2018-10-18 22:12:10
 */

.container {
  margin-top: 20px;
  margin-left: 20px;
}

.item {
  line-height: 34px;
  font-size: 16px;
  color: #666;
}