/*
 * @Author: Lac 
 * @Date: 2018-10-18 22:05:45 
 * @Last Modified by: Lac
 * @Last Modified time: 2018-10-18 22:09:48
 */
.container {
  height: 40px;
  padding-top: 9px;
  box-sizing: border-box;
}

.item {
  display: inline-block;
  margin-left: 20px;
  line-height: 22px;
  text-decoration: none;
  font-size: 16px;
  color: #333;
  cursor: pointer;
}

.item:hover {
  color: #999;
}